<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="card ">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">search</i>
              </div>
              <h4 class="card-title">Rechercher Employe</h4>
            </div>
            <div class="card-body ">
                <form class="navbar-form">
                    <span class="bmd-form-group">
                      <div class="input-group no-border">
                        <input type="text" name="matricule" class="form-control" placeholder="Matricule" id="matricule" [(ngModel)]="matricule">
                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" >
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button>
                      </div>
                    </span>

                  </form>
            </div>
            
            <!--[disabled]="!searchForm.form.invalid"-->
            <div class="card-footer" > 
              <button mat-raised-button  type="submit" (click)="findByMatricule()" 
               class="btn btn-fill btn-success" >Rechercher</button>
            </div>
           
            <div class="card">
              <div class="card-body" *ngIf ="message">
                  <br>
                  <div class="row">
                     <h4 >l'agent {{message.matricule}} existe !!!</h4><br>
                      <table class="table table-hover" >
                        
                        <thead class="text-primary">
                         
                            <th >Nom</th>
                            <th >Prenom</th>
                            <th >Sexe</th>
                            <th >Matricule</th>
                            <th >Reference</th>
                         
                        </thead>
                        <tbody>
                          <tr >
                            <td >{{message.nom}}</td>
                            <td >{{message.prenom}}</td>
                            <td >{{message.sexe}}</td>
                            <td >{{message.matricule}}</td>
                            <td>{{message.reference}}</td>
                            
                      </tr>
                         </tbody> 
                        </table>

                      
                      </div>    
               </div>
              
           </div> 
          </div>
        </div>
        </div>
        </div>
        </div>
  
        <div class="card mb-3">
          <img
            src="assets/img_poste/laposte.png"
            class="card-img-top" style="width: 300px; height: 300px;"
            alt=""
          />
          <div class="card-body">
            <h5 class="card-title">Facture Prestataire</h5>

            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Date Facture</label>
                  <input type="date" class="form-control" id="date_facture" placeholder="">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputPassword4">Montant Facture</label>
                  <input type="text" class="form-control" id="inputPassword4" placeholder="">
                </div>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field>
                  <mat-select placeholder="Prestataires" name="prestataire">
                    <mat-option *ngFor="let pres of prestataire" [value]="pres.code_categorie_pretataire">
                      {{ pres.nom_prestataire }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>   
              </div>
              <div class="form-group">
                <label for="inputAddress2">Address 2</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input type="text" class="form-control" id="inputCity">
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
              
              </div>
             
              <button type="submit" class="btn btn-primary">Vlider</button>
            </form>
            <p class="card-text">
              <small class="text-muted"></small>
            </p>
          </div>
        </div>
      